{% extends "base.html" %}
{% block content %}
<div>
<h1>최신 앨범</h1>
</div>
<div>
	<h2>제목</h2>
	<div>
		<img src="http://image.melon.co.kr/cm/album/images/026/53/515/2653515_org.jpg">
		<img src="http://image.melon.co.kr/cm/album/images/026/53/515/2653515_org.jpg">
		<img src="http://image.melon.co.kr/cm/album/images/026/53/515/2653515_org.jpg">
		<img src="http://image.melon.co.kr/cm/album/images/026/53/515/2653515_org.jpg">
		<img src="http://image.melon.co.kr/cm/album/images/026/53/515/2653515_org.jpg">
	</div>
</div>
<div>
	<p>Artist : </p>
	<p>genre : </p>
	<p>Update D. : </p>	
	<p>description : </p>
</div>

{% endblock %}